<h2>Catálogo de Productos 🧀</h2>

<div *ngIf="productos.length === 0">
  <p>No hay productos disponibles.</p>
</div>

<div class="contenedor-catalogo">
  <div *ngFor="let producto of productos" class="producto">
    <h3>{{ producto.nombre }}</h3>
    <img [src]="producto.url_imagen" alt="Imagen queso" class="img-gorda" />
    <p>{{ producto.descripcion }}</p>
    <p><strong>Precio:</strong> {{ producto.precio | currency:'USD' }}</p>
    <button (click)="agregarAlCarrito(producto)">Agregar al carrito 🛒</button>
  </div>
</div>
