<div style="max-width:400px; margin:auto; text-align:center;">
  <h2>Recuperar Contraseña</h2>
  <form (ngSubmit)="recuperar()" style="display:flex; flex-direction:column; gap:10px;">
    <input [(ngModel)]="correo" name="correo" placeholder="Ingresa tu correo" required>
    <button type="submit">Recuperar</button>
  </form>

  <div *ngIf="nuevaPassword" style="margin-top:20px; color:green;">
    Tu nueva contraseña temporal es: <strong>{{ nuevaPassword }}</strong>
  </div>

  <div *ngIf="mensajeError" style="margin-top:20px; color:red;">
    {{ mensajeError }}
  </div>
</div>
