<div class="form-container">
  <h2 *ngIf="!usuario">Iniciar Sesión</h2>

  <!-- Mostrar formulario solo si no hay sesión -->
  <form *ngIf="!usuario" (ngSubmit)="login()">
    <input [(ngModel)]="credenciales.correo" name="correo" placeholder="Correo" required>
    <input [(ngModel)]="credenciales.contrasena" name="contrasena" type="password" placeholder="Contraseña" required>
    <button type="submit">Ingresar</button>
  </form>

  <p *ngIf="!usuario" class="register-text">
    ¿No tienes una cuenta?
    <a routerLink="/registro">Regístrate aquí</a>
  </p>
  <a routerLink="/recuperar">¿Olvidaste tu contraseña?</a>


  <!-- Si ya está logueado -->
  <div *ngIf="usuario" class="usuario-container">
    <h3>Bienvenido, {{ usuario.nombre }}</h3>
    <button (click)="logout()">Cerrar sesión</button>

    <div *ngIf="pedidos.length > 0" class="pedidos-container">
      <h4>Tus pedidos previos</h4>
      <ul>
        <li *ngFor="let p of pedidos">
          Pedido #{{ p.id_pedido }} - {{ p.fecha_pedido | date:'shortDate' }} - {{ p.estado }} - {{ p.total | currency }}
        </li>
      </ul>
    </div>

    <div *ngIf="pedidos.length === 0">
      <p>No tienes pedidos previos.</p>
    </div>
  </div>
</div>
