<h1>Aviso de Privacidad</h1>

<h2>Identidad del responsable</h2>
<p>
  Quesería de mi sin ti, con domicilio en C. Bugambilias 201, 12 de Diciembre,
  La Floresta, 45066 Zapopan, Jal., y portal de internet www.queseriademisinti.com.mx,
  es responsable del tratamiento de sus datos personales conforme a este Aviso de Privacidad.
</p>

<h2>Datos Recopilados</h2>
<h3>Datos de envío</h3>
<ul>
  <li>Nombre completo</li>
  <li>Dirección de envío</li>
  <li>Teléfono de contacto</li>
  <li>Correo electrónico</li>
</ul>

<h3>Datos de facturación</h3>
<ul>
  <li>Nombre completo</li>
  <li>Dirección fiscal</li>
  <li>RFC</li>
  <li>Correo electrónico donde se enviará la factura</li>
  <li>Métodos de pago gestionados por plataformas externas</li>
</ul>

<h2>Finalidad</h2>
<ul>
  <li>Procesar y enviar pedidos de la tienda en línea</li>
  <li>Emitir facturas y comprobantes fiscales</li>
  <li>Brindar atención al cliente</li>
  <li>Enviar actualizaciones del pedido</li>
  <li>Cumplir obligaciones legales y fiscales</li>
</ul>

<h2>Seguridad</h2>
<p>
  Quesería de mi sin ti adopta medidas administrativas, técnicas y físicas
  necesarias para proteger su información personal contra daño, pérdida,
  alteración o uso no autorizado.
</p>

<h2>Derechos </h2>
<p>
  Puede acceder, rectificar, cancelar u oponerse al tratamiento de sus datos
  enviando solicitud a: <b>atencionacliente@queseriademisinti.com.mx</b>
</p>

<ul>
  <li>Nombre completo</li>
  <li>Descripción del derecho que desea ejercer</li>
</ul>

<h2>Modificaciones</h2>
<p>
  Este aviso puede actualizarse en cualquier momento.
  Los cambios se publicarán en nuestro sitio web.
</p>
